[Unit]
Description=Update instance parameters

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/opt/init_instance.sh
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
